#box {
    background-image: url("imgs/zg.jpg");
    /*background: silver ;*/
    width: 561px;
    height: 216px;
    border: 1px solid black ;
    padding: 5px;
    margin: auto;
}
body,p,h1,h2,h3,h4,h5,h6 {
    margin: 0px;

}

#d1 {

    font-family: Serif;
    margin: 10px;
    font-weight: bold;
}
#d2 {

    font-family: sans-serif;
    font-style: italic;
    margin: 10px;
}
#d3 {

    font-variant: small-caps;
    margin: 10px;
}
body {

    /*background-repeat: no-repeat;*/

    background-repeat: repeat-x;

}