ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background: #9a9a9a;
}

li a {
    display: block;
    width: 60px;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ffcc88;
    color: white;
}
